
<header>
  <nav class="white">
    <div class="nav-wrapper">
      <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions"
      data-activates="nav-mobile" class="button-collapse hide-on-large-only">
        <i class="material-icons grey-text">menu</i>
      </a>
  
      <ul class="right hide-on-med-and-down">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active"><a class="black-text" [routerLink]="menuItem.route">{{ menuItem.name | uppercase }}</a></li>
      </ul>
  
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a ><i class="material-icons" (click)="close()">close</i></a>
        </li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active"><a class="black-text" [routerLink]="menuItem.route" (click)="close()">{{ menuItem.name | uppercase }}</a></li>
        <div class="divider">
        </div>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container">
      <a class="black-text right" href="#!">© 2018 Joaquin Treviño</a>
    </div>
  </div>
</footer>


